FLASK_APP=src/app/__init__.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-change-me
DATABASE_URL=postgresql://postgres:password@db:5432/erp_prologistics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=erp_prologistics
