# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
*.log
*.pot
*.pyc
instance/
.webassets-cache

# Flask
instance/
.flaskenv

# Docker
*.pid
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
/src/app/static/uploads/
